@keyframes contentFade {
    from {
        transform: translateY(-20px);
        opacity: 0;
        filter: blur(6px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

.-aboutme-content,
#mateuszfolek {
    animation: contentFade 1.3s ease forwards;
}

.fade-in {
  opacity: 0;
  transform: translateX(-4rem) scale(0.6);
  animation: fadeInSoft 1.1s ease-out forwards;
  opacity: 1;
}

@keyframes fadeInSoft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
}


.hover {
    box-shadow: 0 6px 16px rgba(37, 99, 235, 0.18);
    transform: translateY(-5px);
    transition: all .3s ease-out;
}