@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html body {
    margin: 0;
    padding: 0;
    background: #1e225a;
    background: radial-gradient(circle, rgb(17, 18, 39) 0%, rgb(33, 36, 85) 100%);
    background-repeat: repeat;
    color: #dfdedb;
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}

body {
    align-items: center;
    justify-content: center;
    display: block;
}

header {
    width: 100%;
}

nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    justify-content: center;
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 100;
}

.nav-list {
    width: 50%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.nav-list a {
    color: #cccbc9;
    text-decoration: none;
    z-index: 10000;
    font-weight: 600;
}

.nav-list a:hover {
    color: #ffb462;
    font-weight: 600;
    border-bottom: 1px solid #ffb462;
}

.nav-list a:focus {
    color: #ffb462;
}


.burger-menu {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 100;
}

.burger-menu img {
    width: 32px;
}

.dropdown-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    right: 10%;
    top: 6rem;
    background-color: #17161d;
    border: 1px solid #424346;
    border-radius: 8px;
    padding: 1rem;
    transition: color 0.3s ease;
}

.dropdown-menu a {
    display: block;
    margin: 0.5rem 0;
    text-decoration: none;
    color: #ffb462;
    font-weight: 600;
    transition: color 0.3s ease;
}

.dropdown-menu-open {
    transform: translateY(12rem);
}

.dropdown-menu-anim {
    transition: transform 0.3s ease;
}

.dropdown-menu a:hover {
    color: #ffb462;
}

/* HTML body header nav ^ */




#skills,
#contact {
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#about {
    font-size: 1.6rem;
    font-weight: 500;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills {
    background-color: #17161d;
}

/* Sekcje ^ */



.-about-layout {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.about-workspace-content {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

#mateuszfolek {
    max-width: 450px;
    transition-duration: .3s;
    border-radius: 50%;
    border: 3px solid #dfdedb;
}

.-aboutme-content {
    flex: 0 1 50%;
    margin: 30px;
}

.language-color {
    color: #ffb462;
}



.-aboutme-text-style {
    margin: 0;
    font-size: 1.6rem;
    /* color: #fff; */
}

.-aboutme-text-span-style {
    font-size: 2.4rem;
    color: #0fe2db;
}

.-more-aboutme {
    font-size: 1.2rem;
    width: 100%;
    color: #9f9faa;
    margin: 0;
}





.-media-links{
    display: flex;
    margin: 30px;
}

.-media-link a img {
    width: 48px;
    margin: 10px;
}

.links {
    align-items: center;
    justify-content: space-around;
    display: flex;
    /* position: relative; */
    /* justify-self: end; */
    /* align-self: center; */
    border-bottom: .6rem solid #0fe2db;
}

.social-link img {
    max-width: 48px;
    margin: 15px;
    padding: 12px;
    border-radius: 20px 5px 20px 5px;
    transition-duration: .3s;
}

.social-link img:hover {
    background-color: #17161d;
    transition-duration: .3s;
}



@media (max-width: 1280px){
        .about-workspace-content {
            display: flex;
            flex-direction: column-reverse;
            padding: 5rem;
        }
}



@media (max-width: 768px){

    #about {
        margin-top: 3rem;
    }

    .burger-menu {
            display: block;
        }
        
    nav {
        display: none;
    }

    .about-workspace-content {
        display: flex;
        padding: 0;
    }

    #mateuszfolek {
        width: 90%;
        box-sizing: border-box;
    }

    #h2 {
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    }
}









/* Temporary: */



.overlay {
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-self: center;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    font-style: italic;
}
.overlay:hover {
    cursor: pointer;
}

.overlay-alternative{ 
    display: none;
}

#linkedin-label {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 10%;
    color: ;
}