@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html body {
    margin: 0;
    padding: 0;
    background: #1e225a;
    background: radial-gradient(circle, rgb(17, 18, 39) 0%, rgb(33, 36, 85) 100%);
    background-repeat: repeat;
    color: #dfdedb;
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}

body {
    align-items: center;
    justify-content: center;
    display: block;
}

header {
    width: 100%;
}

nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    justify-content: center;
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 100;
}

.nav-list {
    width: 50%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.nav-list a {
    color: #cccbc9;
    text-decoration: none;
    z-index: 10000;
    font-weight: 600;
}

.nav-list a:hover {
    color: #ffb462;
    font-weight: 600;
    border-bottom: 1px solid #ffb462;
}

.nav-list a:focus {
    color: #ffb462;
}


.burger-menu {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 100;
}

.burger-menu img {
    width: 32px;
}

.dropdown-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    right: 10%;
    top: 6rem;
    background-color: #17161d;
    border: 1px solid #424346;
    border-radius: 8px;
    padding: 1rem;
    transition: color 0.3s ease;
}

.dropdown-menu a {
    display: block;
    margin: 0.5rem 0;
    text-decoration: none;
    color: #ffb462;
    font-weight: 600;
    transition: color 0.3s ease;
}

.dropdown-menu-open {
    transform: translateY(12rem);
}

.dropdown-menu-anim {
    transition: transform 0.3s ease;
}

.dropdown-menu a:hover {
    color: #ffb462;
}

/* HTML body header nav ^ */

h1 {
    color: #ffb462;
    font-size: clamp(1.6rem, 1.8rem, 2rem);
    font-weight: 900;
    margin-bottom: 2rem;
}

#skills,
#contact {
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#about {
    font-size: 1.6rem;
    font-weight: 500;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-page {
    max-width: clamp(50vw, 60vw, 90vw);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.certain-skillset-section {
    width: 100%;
    padding: 3rem;
    box-shadow: 0 4px 10px rgba(15, 23, 42, 0.08);
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
}

.cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
}

.card {
    background: #f9fafb23;
    border-radius: 10px;
    border: 3px solid #f9fafb;
    margin: 20px 10px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .3s ease-out;
    opacity: -1;
}

.card-image {
    max-width: 192px;
}

.card-title {
    margin: 30px auto 0 auto;
}

/* Sekcje ^ */

.-about-layout {
    display: flex;
    flex-direction: column;
}

.about-workspace-content {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

#mateuszfolek {
    max-width: 450px;
    transition-duration: .3s;
    border-radius: 50%;
    border: 3px solid #dfdedb;
}

.-aboutme-content {
    flex: 0 1 50%;
    margin: 30px;
}

.language-color {
    color: #ffb462;
}

.-aboutme-text-style {
    margin: 0;
    font-size: 1.6rem;
}

.-aboutme-text-span-style {
    font-size: 2.4rem;
    color: #0fe2db;
}

.-more-aboutme {
    font-size: 1.2rem;
    width: 100%;
    color: #9f9faa;
    margin: 0;
}

.-media-links {
    display: flex;
    margin: 30px;
}

.-media-link a img {
    width: 48px;
    margin: 10px;
}

.links {
    align-items: center;
    justify-content: space-around;
    display: flex;
    border-bottom: .6rem solid #0fe2db;
}

.social-link img {
    max-width: 36px;
    margin: 15px;
    padding: 12px;
    border-radius: 20px 5px 20px 5px;
    transition-duration: .3s;
}

.social-link img:hover {
    background-color: #17161d;
    transition-duration: .3s;
}

@media (max-width: 1280px) {
    .about-workspace-content {
        display: flex;
        flex-direction: column-reverse;
        padding: 5rem;
    }
}

@media (max-width: 768px) {

    #about {
        margin-top: 3rem;
    }

    .burger-menu {
        display: block;
    }

    nav {
        display: none;
    }

    .about-workspace-content {
        display: flex;
        padding: 0;
    }

    #mateuszfolek {
        width: 90%;
        box-sizing: border-box;
    }

    h1 {
        padding: 20px 30px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 12px;
    }
}

@media (max-width: 575px){
    .card-image {
    max-width: 128px;
}
}

/* Skills cols clamps */

@media (min-width:768px) and (max-width: 1280px) {
    .cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}


/* Temporary: */
.overlay {
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-self: center;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-style: italic;
    transition-duration: .3s;
}

.overlay:hover {
    cursor: pointer;
    background-color: #000;
    transition-duration: .3s;
}

.overlay-alternative {
    display: none;
}